*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
}

main{  
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

/*colonna laterale*/
aside{
    height: 100%;
    width: 250px;
    background-color: rgb(0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.side-top{
    height: calc(100% - 80px);
    overflow: hidden;
}

/*header colonna laterale*/
.aside-header img{
    width: 60%;
    margin: 20px 10px;   
    cursor: pointer;   
}

/*nav colonna laterale*/
.aside-nav{
    font-size: 14px;
    margin-bottom: 15px;
}

.aside-nav-row{
    display: flex;
    color: rgb(148, 148, 148);
    padding: 2px 10px;
    line-height: 20px;
    margin-bottom: 5px;
    border-left: 3px solid transparent;
}

.aside-nav-row:hover{
    color: white;
    border-left: 3px solid rgb(3, 194, 3);
}

.aside-nav-row img{
    height: 20px;
    margin-right: 10px;
}

/*colonna laterale playlist*/
.aside-playlist *{
    color: rgb(148, 148, 148);
}

.aside-playlist-title{
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 10px;
    margin-bottom: 10px;
}

/*colonna laterale add*/
.add-row{
    color: rgb(148, 148, 148);
}

.add-row:hover{
    color: white;
}

.add-button{
    font-size: 24px;
    font-weight: 700;
    padding: 1px 5px 3px 10px;
    margin: 2px 10px;
    background-color: rgb(148, 148, 148);
    color: black;
}
 /*colonna laterale elenco playlist*/
.box-ul{
    height: 47%;
    overflow: auto;
    margin-top: 10px;
}

.box-ul ul{
    font-size: 14px;
    margin-top: 15px;
}

.box-ul ul li a{
    line-height: 30px;
    padding: 0px 10px;
    color: rgb(148, 148, 148);
}

.box-ul *:hover{
    color: white;
}

/*colonna laterale footer*/
.aside-footer{
    height: 80px;
    padding: 0px 10px;
    bottom: 0;
}

.aside-footer-row{
    color: rgb(148, 148, 148);
    line-height: 40px;
    font-size: 14px;
}

.aside-footer img{
    width: 22px;
    vertical-align: middle;
    margin-right: 10px;
}

.aside-footer-row:hover{
    color: white;
}

.user{
    margin: 10px 0;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.user img{
    width: 25px;
    padding: 0 2px;
    background-color: rgb(148, 148, 148);
    border-radius: 50px;
}



/*contenuto centrale*/
.content{
    width: 100%;
    height: 100%;
    background-color: rgb(20, 25, 34);
}

/*header contenuto centrale*/
.content-header{
    width: 100%;
    height: 80px;
    background-color: rgba(4, 6, 10, 0.726);
    z-index: 500;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*pulsante upgrade*/
.upgrade{
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 20px;
    transition: 0.5s;
}

.upgrade:hover{
    transform: scale(1.1);
}

/*nav sezione centrale*/
.content-nav{
    display: flex;
    justify-content: center;

}



.content-nav *{
    font-size: 14px;
    margin: 10px 10px;
    color: rgb(148, 148, 148);
    height: 25px;
    justify-content: center;
    text-transform: uppercase;

}

.content-nav-row{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.content-nav-row *:hover{
    color: white;
}

.nav-row-special{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(0, 192, 0);
}

.cover-border-special-1{
    width: 25px;
    height: 10px;
    background-color: rgb(20, 25, 34);
    position: relative;
    bottom: 10px;
}

.cover-border-special-2{
    width: 25px;
    height: 10px;
    background-color: rgb(20, 25, 34);
    position: relative;
    left: 70px;
    bottom: 30px;
}

/*galleria canzoni*/
.main-section{
    padding: 10px;
    height: calc(100vh - 80px - 80px);
    overflow: auto;

}

.row-name div:first-child{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
}

/*row canzoni recenti*/
.recent-row-lg, .created-row-lg, .artists-row-lg{
    display: flex;
}   

.album{
    margin: 0 7px;
    width: 150px;
}

.album-img{
    position: relative;
    margin-bottom: 10px;
}

.album-img img{
    width: 100%;
    margin-bottom: 0px;
}

.circle.album-img img{
    border-radius: 50%;
}

/*simbolo play*/
.far.fa-play-circle{
    color: white;
    font-size: 40px;
    position: absolute;
    bottom: 58px;
    left: 55px;
    display: none;
}

.album-img:hover{
    filter: opacity(50%);
}

.album-img:hover .far.fa-play-circle{
    display: block;
}

/*album info*/
.album-info{
    text-align: center;
}

.circle.album-info{
    margin-bottom: 50px;
}

.album-name{
    margin-bottom: 5px;
    color: white;
}

.album-author{
    color: rgb(148, 148, 148);
    font-size: 14px;
}

/*Creato per te*/
.row-name-description{
    color: rgb(148, 148, 148);
    margin-bottom: 20px;
}

/*footer*/
footer{
    width: 100%;
    height: 80px;
    background-color: rgb(40, 40, 40);
    position: relative;
}



/*debug*/
.row-lg{
    height: 150px;
}